.PopupContainer {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    animation: toastDefault 5s ease-in-out;
    
}

@keyframes toastDefault{
    0%{
        right: -50%;
    }
    4%{
        right: 28px;
    }
    8%{
        right: 19px;
    }
    10%{
        right: 20px;
    }
    92%{
        right: 20px;
    }
    96%{
        right: 22px;
    }
    100%{
        right: -50%;
    }
}

@keyframes toastChange{
    0%{
        right: 20px;
    }
    50%{
        right: 22px;
    }
    100%{
        right: -50%;
    }
}

.success{
    background-color: #8fff8f;
    box-shadow: 0 0 5px #005000;
}
.success .message{
    color: #005000;
}
.success svg{
    fill: #005000;
}

.error{
    background-color: #FF8F8F;
    box-shadow: 0 0 5px #500000;
}
.error .message{
    color: #500000;
}
.error svg{
    fill: #500000;
}

.PopupContainer>.message{
    font-family: roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    width: fit-content;
    margin: 0;
}

.PopupContainer>.closeButton{
    background-color: transparent;
    font-family: roboto;
    font-weight: bold;
    font-size: 16px;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
}

.PopupContainer>.closeButton>svg {
    width: 100%;
    height: 100%;
}

